body{
    position: relative;
}
header{
    position: relative;
}
.carousel{
    background: #EDE8DC;
    position: relative;
    
    display: grid;
    .head-t{
        @include mq('med'){
            display: none;
        }
    }
    h1 ,h2 {
        z-index: 100;
        position: absolute;
        color:white;
        font-size: 24px;
        text-align: center;
       
    }
    h1{
        
        font-family: 'Amatic SC', cursive;
        text-align: center;
        font-size: 7rem;
        // margin-left: 2rem;
        margin-top: 6rem;
        
    }
    h2{
        // margin-left: 2rem;
        width: 100%;
        margin-top: 22rem;
        font-size: 1.9rem;
        font-family: 'Balsamiq Sans', cursive;
        text-align:center ;
    }
    .container-img {
        width: 100%;
        overflow: hidden;
        @include mq('med'){
            // position: absolute;
            margin-top: -100px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap:  .1rem;
            grid-template-areas:" left middle right  ";
            margin-bottom: 9rem;
        }
    }
    img{
        width: 600px!important;
        height: 500px !important;
        display: block;
        height: 13rem;
        @include mq('med'){
            height: 700px !important;
            object-fit: cover;
            width: 100% !important;
            padding: 10px;
            // height: auto !important;
           
           
        }


    }
    .pic2, .pic3{
        display: none;
        @include mq('med'){
            display: inherit;
        }
    }


    .img1{
        grid-area: left;
        @include mq('med'){
            margin-left: 1rem;
        }
    }
    .img2{
        grid-area: middle;
    }
    .img3{
        grid-area: right;
        @include mq('med'){
            margin-right: 1rem;
        }
    }
}