@import 'modules/all';
@import 'vendor/normalize';
@import 'header';
@import 'carousel';
@import 'about';
@import 'contact';
@import 'menu';

// @import 'partials/all';

Img{
    Width:100%;
    Height:auto;
    }
    
*{    
margin:0;
padding:0;
}

